* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background-color: #F0F0F0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

/* Menu */

#submenu li{
  font-size: 20px;
}

.menuopcoes{
  margin:10px;
  position: absolute;
  float: left;
}
.menuopcoes a{
  font-size: 25px;
  color: white;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 2px;
  transition: 0.3s;
}

.menuopcoes ul {
  list-style: none;
  margin-top: 2%;
}
.menuopcoes ul li:hover {
  background-color: #bb3838;
  border-left: solid 5px #fff;
  border-radius: 8px;
}
.menuopcoes ul ul {
  display: none;
  text-decoration: none;
}
.menuopcoes ul li:hover > ul {
  display: block;
  font-size: 20px;
  margin-left: 5%;
}
.menuopcoes ul ul ul {
  margin-left: 170px;
  top: 0;
  position: absolute;
}

.logo img{
  margin: 10px;
  width: 180px;
  height: 50px;
}
.menuvertical{
  width: 200px;
  height: 100%;
  background-color: brown;
  float: left;
  position: fixed;
  transition: 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.footer{
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;
  float: right;
  color: #fff;
}

/* Slide */

.slider {
  max-width: 1140px;
  width: 100%;
  height: 200px;
  left: 200px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.slider img {
  width: 1140px;
  height: 200px;
}

.slick-prev slick-arrow, .slick-next slick-arrow{
  left:none;
}

/* Pesquisa */

.pesquisa{
  background-color:#E0EEEE;
  border:solid 1px #5F9EA0;
  border-radius:10px;
  width:120px;
  height:32px;
}

.pesquisa input{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:101px;}

/* Grid */

main {
  float: right;
  width: calc(100% - 200px);
  transition: 0.3s;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid img {
  width: 90%;
  height: 200px;
  border-radius: 2px;
  margin: 5px;
  box-shadow: 2px 2px 2px 3px rgba(1, 0.5, 0.5, 0.5);
}
.item-grid {
  position: relative;
  text-align: center;
}
.item-grid button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #bb3838;
  width: 100px;
  border: 0;
  float: center;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.item-grid button:hover {
  font-weight: bolder;
  background: #C82828;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
  width: 150px;
}
/* fim */

.tab-content button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  outline: 0;
  background: #bb3838;
  width: 90px;
  border: 0;
  padding: 5px;
  margin-left: 70px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.tab-content button:hover {
  font-weight: bolder;
  background: #C82828;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
  width: 110px;
}

.a-box-inner{
  padding: 0px 35px 28.219px 0px;
}

.a-box-inner img{
    padding-left: 11px;
    height: 110px;
    width: 110px;
    border-radius: 2px;
  }

.b1{
  padding-left: 0px;
}

.b2{
    text-align: right;
    display: block;
  }

  /*#divBusca{
  background-color:#E0EEEE;
  border:solid 2px #5F9EA0;
  border-radius:10px;
  width:100px;
  height:32px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:90px;
}

#btnBusca{
  border:none;
  float:right;
  height:32px;
  border-radius:0 7px 7px 0;
  width:40px;
  font-weight:bold;
  background:#5F9EA0;
}*/

.boxagend{
    width:600px;
    height: 900px;
    border: 0.1px solid #A7A7A7;
    border-radius: 10px;
    padding: 15px 10px 9px 10px;
    margin-top: -25px;
}

.prod{
  height: 120px;
  border: 0.1px solid #A7A7A7;
  padding: 0px 200px 20px 0px;
  border-radius: 1px;
}

.prod img{
    padding: 11px 10px;
    height: 110px;
    width: 110px;
    border-radius: 2px;
}

.columnb{
  left:50%;
  top:50%;
  margin-left: 400px;
  margin-top: -90px;
  border-radius: 2px;
}

.columnc{
  left:50%;
  top:50%;
  margin-left: 900px;
  margin-top: -75px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #bb3838;
  width: 100px;
  border: 0;
  padding: 9px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}


button:hover,button:active,button:focus {
  background: #C82828;}

.boxagendet{
    width:650px;
    height: 900px;
    border: 0.1px solid #A7A7A7;
    border-radius: 10px;
    padding: 15px 10px 9px 10px;
    margin-top: -25px;
}

.prodfe{
  height: 120px;
  width: 600px;
  border: 0.1px solid #A7A7A7;
  padding: 0px 200px 20px 0px;
  border-radius: 1px;
}

.prodfe img{
    padding: 11px 10px;
    height: 110px;
    width: 110px;
    border-radius: 2px;
}

.columna{
  left:50%;
  top:50%;
  margin-left: 300px;
  margin-top: -90px;
  border-radius: 2px;
}

.columnd{
  left:50%;
  top:50%;
  margin-left: 900px;
  margin-top: -75px;
}

